%h4 Name: #{@client.name}
%h4 Address: #{@client.address}
%h4 Phone: #{@client.phone} 
%h4 Email: #{@client.email}
%br
= link_to "Edit", edit_client_path(@client)
=link_to "Delete", client_path(@client), method: :delete, data: {confirm: "Are you sure?"}
= link_to "Back", clients_path