%h1= @client.name
%p= @client.address
%p= @client.phone
%p= @client.email
%p= @client.rep_id
= link_to "Edit", edit_client_path(@client)
=link_to "Delete", client_path(@client), method: :delete, data: {confirm: "Are you sure?"}
=link_to "Home", root_path