
!!!!
%html
%head
	%title Rails Project - Thiago Orniz
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	= csrf_meta_tags
%body
	- if notice
		#msg
			%p.notice= notice
	-elsif alert
		#msg
			%p.alert= alert
			
	%ul.nav.nav-tabs
		- if rep_signed_in?
			%li= link_to "Home", pages_path
			%li= link_to "Clients", clients_path
			%li= link_to "Products", products_path
			%li= link_to "Sales", sales_path
			%li= link_to "Sign out", destroy_rep_session_path, method: :delete
		- else
			%li= link_to "Sign in", new_rep_session_path

.container
	=yield

